
/* main */
#acf-group_page_designer {

}


/* preloading stuff */

#acf-group_page_designer .acf-cursor-loading,
#acf-group_page_designer .acf-cursor-loading .hndle {
    cursor:wait;
}

#acf-group_page_designer .dpd-acf-modue-float-preloader {

    background: url('../images/preloader.gif');
    width: 32px;
    height: 32px;
    margin: 16px auto;
}

#acf-group_page_designer .inside .acf-input { display: none; }
#acf-group_page_designer .inside.pre-initialized .acf-input{ display: block; visibility:hidden; }
#acf-group_page_designer .inside.initialized .acf-input{ display: block; }


/* 1. level repeater */
#acf-group_page_designer > .inside > .acf-field-repeater {

}

/* hide 1. level label */
#acf-group_page_designer > .inside > .acf-field-repeater > div.acf-label { display:none; }

#acf-group_page_designer > .inside > .acf-field-repeater> .acf-input > .acf-repeater {

}

/* change button style of 1. level */
#acf-group_page_designer > .inside > .acf-field-repeater> .acf-input > .acf-repeater > ul.acf-hl > li > a.acf-button {
    color: #555 !important;
    border-color: #CCC;
    background: #F7F7F7;
}

#acf-group_page_designer > .inside > .acf-field-repeater> .acf-input > .acf-repeater > .acf-table {

    padding: 5px 0 5px 0;
    border-collapse: collapse;
    width: 100%;

    background: #f2f5f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    height: auto;
}

/* 1. level repeater row  */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > .acf-row {

    margin-top: 0.5%;
    margin-bottom: 0.5%;
    box-shadow: 1px 1px 0 #aaaaaa;
    display: block;

    background-color: #F0F0F0;
    background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px);

}

#acf-group_page_designer:not(.editor-active) > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > .acf-row {

    /*overflow:hidden;*/

}

/* 1. level block */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > .acf-row > td {

    border:0;
    /*overflow:hidden;*/
    width:100%;
    background:transparent;

}

/* 1. level order column: smaller it */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > .acf-row > td.order {

    width: 2px !important;
    padding: 0 4px;
    font-size: 11px;

}

/* 1. level remove column: smaller it */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > .acf-row > td.remove {

    width: 2px !important;
    padding: 0 2px;
}

/* 1. level remove add button */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > .acf-row > td.remove .acf-repeater-add-row {
    display:none;
}

/* set margins of blocks 1. level and 2. level */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > .acf-row.first,
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content > div.acf-input > .acf-flexible-content > .values > .layout.first
{
    margin-left: 0 !important;

}

/* set background for flexible content */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > tr.acf-row > td.acf-fields > div.acf-field.acf-field-flexible-content {
    background:transparent;
}

/* set background for flexible content 1. col is selector: bg is white */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > .acf-row > td > table > tbody > tr:first-child > td {
    background:white;
}

/* get label column of each row */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input >.acf-repeater > table > tbody > tr.acf-row > td > table.acf-table > tbody > tr > td.acf-label {
    display:none;
}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input >.acf-repeater > table > tbody > tr.acf-row > td.acf-fields > div.acf-field > div.acf-label {
/*#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input >.acf-repeater > table >tbody > tr.acf-row > td > table.acf-table > tbody > tr > td.acf-label {*/
    display:none;
}

/* 2. level flexible content */
/*#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > tr.acf-row > td > table > tbody > tr.acf-field-flexible-content */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > tr.acf-row > td.acf-fields > div.acf-field.acf-field-flexible-content {  }

/* 2. level flexible content layout */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > tr.acf-row > td.acf-fields > div.acf-field.acf-field-select {

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .acf-hl
{

    width: 100%;
    display: block;
    clear: both;
    padding: 20px 0 0 0;

}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-label {  }
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater > table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input {  }

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content {  }

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values {  }

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout
{
    position: relative;
    z-index: 4;
}


/* each layout */

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout > table.acf-table
{
    margin:0;
}

/* hide all layout fields exept colsize */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout > div.acf-fields > div
{
    display:none;
}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout > div.acf-fields > div:first-child
{
    width: 100%;
    display: block;

}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout > div.acf-fields > div.acf-field:first-child:before
{
    content:none;
}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout > div.acf-fields > div:first-child div.acf-label
{
    display:none;
}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout > div.acf-fields > div:first-child div.acf-input
{
    border-left:0;
    width:100%;
}

/* content of each layout */

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout .acf-fc-layout-handle
{
    font-size: 12px !important;
    color: #333 !important;
}

/* hide add control of layout */
#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout .acf-fc-layout-controlls a.acf-fc-add
{
    /* display:none; */
}

/* preview field */
#acf-group_page_designer .dpd-preview-field:before {
    content:none;
}

#acf-group_page_designer .dpd-preview-field {
    height: 40px;
    overflow:hidden;
    display:block !important;

}

#acf-group_page_designer .dpd-preview-field .inner {

    color:#949494;
    padding: 3px 10px;
    font-style: italic;

}

/* remove block animation error fix */

#acf-group_page_designer .acf-temp-wrap {
    overflow:hidden;
    display:none;
}

/* hide layout content if field is to small */
#acf-group_page_designer > .inside  .tiny-mode {
    max-height:200px;
    cursor:col-resize;
}

#acf-group_page_designer > .inside  .tiny-mode.visible {
    max-height:initial;
    box-shadow: 4px 5px 6px #ADADAD !important
    cursor:default;
}

#acf-group_page_designer > .inside  .tiny-mode.visible.soft {
     position:relative !important;
}

#acf-group_page_designer .tiny-mode .acf-table .acf-flexible-content,
#acf-group_page_designer .tiny-mode .acf-table > tbody > tr:first-child {
    visibility:hidden;
}

#acf-group_page_designer > .inside  .tiny-mode > td > table.acf-table {

    background-size: cover;
    background: url('../images/slideout.png') 13px 16px no-repeat;

}

#acf-group_page_designer .tiny-mode.visible .acf-table .acf-flexible-content,
#acf-group_page_designer .tiny-mode.visible .acf-table > tbody > tr:first-child {
    visibility:visible;
}

/* show specific fields if editor is active */

/* each layout */

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout.activeEditor > div.acf-fields
{
    margin: 45px 0 0 0;
    height: 95%;
    width: 100%;
    display: table;

}


#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout.activeEditor > div.acf-fields > div.acf-field
{
    display: block;
    background-color:rgba(255,255,255,.7);
}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout.activeEditor > div.acf-fields > div.acf-field > div.acf-label
{
    display: block;
    width: 10%;
}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout.activeEditor > div.acf-fields > div.acf-field > div.acf-input
{
    width: 90%;
}


#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout.activeEditor > div.acf-fields > div.acf-field:before
{
    width: 10%;
}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout.activeEditor > div.acf-fields > div.acf-field:first-child
{
    display: none;

}

#acf-group_page_designer > .inside > .acf-field-repeater > .acf-input > .acf-repeater
> table > tbody > tr.acf-row > td.acf-fields > div.acf-field-flexible-content  > div.acf-input > .acf-flexible-content > .values > .layout.activeEditor .acf-fields
{
    margin: 0 0 8px;
}


#acf-group_page_designer .visualizer-close-row:before {
    content:none;
}
#acf-group_page_designer .visualizer-close-row {
    display:none;
}

#acf-group_page_designer .activeEditor .visualizer-close-row {
    display:block !important;
}

#acf-group_page_designer .visualizer-close-row .acf-input{
    width:40%;
}

#acf-group_page_designer .visualizer-close-row .acf-input .button {
    float:left;
    margin-top:4px;
    margin-right:20px;
}

#acf-group_page_designer .visualizer-close-row .acf-input .acf-label {
    float:left;
    width:60%;
}


/* visualizer editor &  buttons */

#acf-group_page_designer div.visualizer-button {
    display:block !important;
}

#acf-group_page_designer div.visualizer-button span {
    display:block;
    padding:10px 0 0 0;
}

#acf-group_page_designer .activeEditor {

    position:fixed !important;
    overflow-y:scroll;
    z-index:10001 !important;
    width:80% !important;
    height:80% !important;
    top:50%;
    left:50%;
    margin-left: -40% !important;
    background:#eee;

}

/* smaller the acd-labl and acf-input rows */
#acf-group_page_designer .activeEditor .acf-fields > .acf-field div.acf-label,
#acf-group_page_designer .activeEditor .acf-fields > .acf-field div.acf-input {

    padding: 5px 15px;

}

#acf-group_page_designer .activeEditor .acf-fc-layout-handle-disabled {

    display: block;
    padding: 5px 0;
    cursor: default;
    border: 0;
    color: #fff;
    font-size: 13px;
    line-height: 1.4em;

    margin:0 0 10px 0;
    background:#0074a2;

    position: fixed;
    width: 79%;
    z-index: 2;
    box-shadow: 0 1px 1px #000;
    backface-visibility: hidden;

}

#acf-group_page_designer .activeEditor .acf-fc-layout-handle-disabled  .fc-layout-order {
    margin:0px 10px 0 15px;
}

#acf-group_page_designer .activeEditor .dpd-preview-field {

    display:none !important;
}

#acf-group_page_designer .activeEditor table.acf_input tbody tr td.label {
    display:table-cell;
    width:10%;
}

#wpbody-content #dpd-visualizer-popup {

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position:fixed;
    top:0;
    left:0;
    z-index:10000;

}

#acf-group_page_designer .acf-fc-popup {

}

#acf-group_page_designer .activeEditor .acf-fc-layout-controlls {
    display:none;
}

#acf-group_page_designer .visualizer-close {

    position: absolute;
    top: 4px;
    right: 0px;
    cursor: pointer;
    z-index:99;

}

#acf-group_page_designer .visualizer-close span.media-modal-icon {
    margin: 4px auto 0;
}

#acf-group_page_designer .visualizer-close .media-modal-icon:before {

    color: #FFF;
}

.disableScroll {
    position:fixed;
}


/* validations */

#acf-group_page_designer .layout.has-error .acf-fc-layout-handle {

    background:#F55E4F;
    color:#fff;

}

/* Responsive Adjustments */
#acf-group_page_designer > .inside > .acf-field-repeater [data-name="dpd_responsive_adjustment"] ul {

    display: none;
}

/* Responsive Adjustments */
#acf-group_page_designer > .inside > .acf-field-repeater [data-name="dpd_responsive_adjustment"] .acf-input {

    background: rgba(82, 114, 137, 0.21);
    margin: 0 0 10px 0;
    padding: 4px;

}

#acf-group_page_designer > .inside > .acf-field-repeater [data-name="dpd_responsive_adjustment"] .acf-input select {

    min-width:160px;
    width: 15%;
    margin-right: 1%;
    margin-top : 10px;
    margin-bottom : 10px;
    font-size:12px;

}