@CHARSET "UTF-8";

/* DO NOT TOUCH EVER EVER AGAIN. */

#acf-group_page_designer tr.oneCol,
#acf-group_page_designer .layout.oneCol {
	width: 15.83%;	
	margin-left:1%;
	margin-top:0.5%; margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.twoCol,
#acf-group_page_designer .layout.twoCol {
	width: 32.66%;
	margin-left:1%;
	margin-top:0.5%; margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.threeCol,
#acf-group_page_designer .layout.threeCol {
	width: 49.5%;
	margin-left:1%;
	margin-top:0.5%; margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.fourCol,
#acf-group_page_designer .layout.fourCol {
	width: 66.33%;
	margin-left:1%;
	margin-top:0.5%; margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.fiveCol,
#acf-group_page_designer .layout.fiveCol {
	width: 83.16%;
	margin-left:1%;
	margin-top:0.5%; margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.sixCol,
#acf-group_page_designer .layout.sixCol {
	width: 100%;
	margin-left:0;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

/* END OF DO NOT TOUCH EVER EVER AGAIN */